doctype html 
html 
    head 
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/main.css")
        title= home 
    body
        div(id="main-wrapper") 
            div(class="main-box")
                form(action="/edit" method="post" encType="multipart/form-data") 
                    div(class="main-box__dotted")
                        div(class="main-box__profile")
                            div(class="main-box__visited")
                                p Today
                                p(class="main-box__visited__today")= date[0].today
                                p(class="main-box__visited__bar")
                                p Total 
                                p(class="main-box__visited__total")= date[0].total
                            div(class="main-box__profile__pic")
                                -if(profile_image !== '')
                                    img(src=`${profile_image}`)
                            input(type="file" name="sampleFile" accept="image/*" class="main-box__profile__upload")
                            div(class="introduction-wrap")
                                textarea(type="text" name="introduction" class="main-submit__introduction")=introduction                
                                input(type="submit" value="Edit" class="submit-botton")
                            div(class="main-box__link__wrap")
                                li 
                                    a(class="main-box__profile__link") gitgub 
                                li
                                    a(class="main-box__profile__link") blog
                        div(class="main-box__board")
                            input(type="text" name="title" value=title class="main-submit__title")
                            div(class="main-box__minihome")  
                                a(href="/" class="main-box__bar__now") 
                                    p 홈
                                a(href="/photo" class="main-box__bar__another") 
                                    p 사진
                                a(href="/diary" class="main-box__bar__another") 
                                    p 일기장
                                a(href="/visited" class="main-box__bar__another") 
                                    p 방명록  
                            div(class="main-box__board__friendsay")
                                form(action="/" method="post")
                                    div(class="friendsay__submit")
                                        p Friends Say
                                        input(type="text" name="description" placeholder="남기고 싶은 이야기를 나눠보세요~!" class="friendsay__submit__description")
                                        input(type="text" name="name" placeholder="당신의 이름은!?" class="friendsay__submit__name")
                                        input(type="submit" value="확인" class="friendsay__submit__button")
                                div(class="friendsay__comment")
                                    ul(class="friendsay__comment__ul")
                                        each comment in comments
                                            div(class="friendsay__comment__ul__flexbox")
                                                li= comment.description  
                                                li= "("+comment.name+")"
                                                li= comment.created 
                                                form(action="/delete/"+comment.id method="post")
                                                    input(type="submit" value="❌" class="friendsay__command__del") 